# IDE
.idea/
.vscode/

# Environments
.env
.venv
env/
venv/

# Logs & debug
*.log
*.html
*.png
*.csv
/logs/
/summary/

# Allow mockups HTML files
!mockups/*.html

# Python
__pycache__/
*.pyc
*.pyo

# Data
/downloaded_files/
*.db
*.sqlite

# OS
.DS_Store
